<%= stylesheet_link_tag 'users' %>
<h1>This page lists all users</h1>

<%@users.each do |user|%>
  <%= link_to user_path(user.id) do %>
    <div class='user-container'>
      <img src=<%= user.photo %> alt='Profile' class='img' >
        <div class='name'>
          <b><%= user.name %></b>
          <div class='counts'>Number of posts: <%= user.posts_counter ||= 0 %></div>
        </div>
    </div>
  <% end %>
<%end%>