<h1><%= @user.name%>'s Profile</h1>
<div>
  <img src="<%= @user.photo %>" />
  <div>
    <h2><%= @user.name %></h2>
    <p>Number of posts: <%= @user.posts_counter ||= 0 %></p>
  </div>
</div>

<div>
  <%= @user.bio %>
</div>

<%posts = @user.recent_posts %>
<% posts.each do |post|%>
  <div>
    <h4>Post #<%= post.id %></h4>
    <h3><%= post.title%></h3>
    <p><%= post.text%></p>
  </div>
<%end%>

<%= link_to "See all posts", users_path(posts) %>