<%= stylesheet_link_tag 'profile' %>

<h1><%= @user.name%>'s Profile</h1>

<div class='container' >
  <%= render 'shared/profile', user: @user%>

  <div class='bio'>
    <h4>Bio</h4>
    <%= @user.bio %>
  </div>

  <%posts = @user.recent_posts %>
  <ul class='posts-container'>
    <% posts.reverse.each do |post|%>
      <li class='post' >
        <h3><%= post.title%></h3>
        <p><%= post.text%></p>
        <%= render 'shared/counts', post: post %>
      </li>
    <%end%>
  </ul>

  <%= link_to "See all posts", user_posts_path(@user.id), class: 'see-all' %>
</div>