<h1>This page lists all posts of a certain user.</h1>
<%= render 'shared/profile', user: @user%>

<ul>
  <%@posts.each do |post|%>
    <li>
      <%= link_to user_post_path(@user, post.id) do %>
        <div>
          <h3><%= post.title%></h3>
          <p><%= post.text%></p>
          <div>
            <span>Comments: <%= post.comments_counter ||= 0%></span>
            <span>Likes: <%= post.likes_counter ||= 0%></span>
          </div>
        </div>
      <% end %>
      <%= render 'shared/comments', comments: post.recent_comments.reverse%>
    </li>
  <%end%>
</ul>