<div class='form-container'>
  <h1>New Post</h1>

  <%= form_with model: @new_user_post, url: user_posts_path(current_user) do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :text %><br>
      <%= form.text_area :text, size: '70x5' %>
    </div>

    <%= form.submit 'Create Post', class: 'create-btn' %>
  <% end %>
</div>