<div class='container'>
  <div class='post'>
    <div class='title'>
      <h1><%= @post.title %> by <%=@post.author.name %></h1>
      <%= render 'shared/counts', post: @post %>
    </div>
    <p><%= @post.text %></p>
  </div>
  <%= render 'shared/comments', comments: @post.comments, post: @post%>

  <div class='buttons'>
    <%= button_to 'Add Comment',  new_user_post_comment_path(params[:user_id], @post), class: 'create-comment', method: :get %>
    <%= button_to 'Like Post',  user_post_likes_path(params[:user_id], @post), class: 'add-like', method: :post %>
    <% if current_user && current_user == @post.author %>
      <%= button_to 'Delete', user_post_path(current_user, @post), method: :delete, class: 'delete-btn' %>
    <% end %>
  </div>
</div>